@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&family=Poppins:wght@300;400;500&display=swap");

html,
body {
  font-family: var(--font-primary);
  background-color: var(--clr-white);
  color: var(--clr-primary);
  line-height: 1.2;
  font-size: 16px;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ====== GLOBAL VARIABLE ======= */
:root {
  --clr-primary: #171010;
  --clr-secondary-1: #2b2b2b;
  --clr-secondary-2: #362222;
  --clr-secondary-3: #423f3e;
  --clr-white: #ffffff;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --transition: all linear 0.3s;
}

/* ====== GLOBAL STYLE ======== */
h1,
h2,
h3,
h4,
p {
  margin-bottom: 10px;
}

h1 {
  font-size: 56px;
  font-family: var(--font-secondary);
  text-transform: capitalize;
}

h4 {
  font-size: 20px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3,
p {
  font-size: 16px;
  font-weight: 400;
}

ul,
il {
  list-style: none;
}

span {
  font-size: 12px;
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.btn {
  height: 35px;
  width: 135px;
  border: none;
  text-transform: capitalize;
  transition: var(--transition);
}

.btn:hover {
  cursor: pointer;
}

.btn-dark {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.btn-light {
  background-color: var(--clr-secondary-3);
  color: var(--clr-white);
}

.btn-dark:hover,
.btn-light:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border: var(--clr-primary) solid 1px;
}

.page-section {
  padding: 40px 0px;
}

@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 64px;
  }

  h4 {
    font-size: 28px;
  }

  h2 {
    font-size: 28px;
  }

  h3,
  p {
    font-size: 20px;
  }
  span {
    font-size: 16px;
  }

  .btn {
    height: 40px;
    width: 240px;
    border: none;
    text-transform: capitalize;
    transition: var(--transition);
  }
}
