@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&family=Poppins:wght@300;400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--clr-bg-white);
  color: var(--clr-primary);
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ====== GLOBAL VARIABLE ======= */
:root {
  --clr-primary: #171010;
  --clr-secondary-1: #2b2b2b;
  --clr-secondary-2: #362222;
  --clr-bg-white: #ffffff;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

/* ====== GLOBAL STYLE ======== */
h1 {
  font-size: 56px;
  font-family: var(--font-secondary);
}

h4 {
  font-size: 20px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 300;
}
